{% extends "base.html" %}
{% block content %}
        <h3>Finance API</h3>
        <p><a href="/finance">Click Here</a> for the finance API</p>
        <h3>Read file from the Titanic Dataset</h3>
        <p>You can either upload a dataset file below or run the program on a file that has been saved local on this server</p>
        <form method = "POST" enctype = "multipart/form-data">
            <input type = "file" name = "file" />
            <input type = "submit"/>
        </form>
        <p>Run with default file:</p>
        <ul>
            <li><a href="/data" target="_blank">Preview default data set</a></li>
            <li><a href="{{ url_for('titanic', file='files/default.csv') }}" target="_self">Run with default file</a></li>
        </ul>
{% endblock %}
